<%- include('partials/header') %>
<div class="container">
	<% if(msg && msg.length > 0){%>
		<div class="alert alert-danger alert-dismissible" id="myalert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= msg %>
		</div>
	<% } %>

	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="heading mt-5">
				<h1>Search For A Movie</h1>
			</div>
			<div class="card form">
				<div class="card-body">
					<form action="/search" method="GET">
						<div class="form-group">
							<label>Search By Term</label><br>
							<input type="text" placeholder="pokemon" name="s"  class="form-control" required>
							<input type="year" name="y" placeholder="Year (optional)" class="form-control">
						</div>
						<!-- <label>Plot</label>
						<select name="plot">
							<option value="short">Short</option>
							<option value="full">Full</option>
						</select> -->
						<input type="submit" class="btn btn-primary btn-sm" name="">
					</form>
				</div>
			</div>
			<br>
			<div class="card form">
				<div class="card-body">
					<form action="/search" method="GET">
						<div class="form-group">
							<label>Search By Title</label><br>
							<input type="text" placeholder="pokemon" name="t" class="form-control" required>
							<input type="year" name="y" placeholder="Year (optional)" class="form-control">
						</div>
					<!-- 	<label>Plot</label>
						<select name="plot">
							<option value="short">Short</option>
							<option value="full">Full</option>
						</select> -->
						<input type="submit"  class="btn btn-primary btn-sm" name="">
					</form>
				</div>
			</div>
			<br>

			<div class="card form mb-5">
				<div class="card-body">
					<form action="/search" method="GET">
						<div class="form-group">
							<label>Search By Id</label><br>
							<input type="text" placeholder="tt2283362" name="i" class="form-control">
						</div>
						<!-- <input type="year" name="y" placeholder="Year"><br> -->
						<!-- <label>Plot</label>
						<select name="plot">
							<option value="short">Short</option>
							<option value="full">Full</option>
						</select> -->
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-sm" name="">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer') %>