
	<!DOCTYPE html>
	<html>
	<head>
		<title>Movie Search</title>
	</head>
	<body>
		<h1>Search for a movie</h1>
		<form action="/results" method="GET">
			<input type="text" placeholder="search By Term" name="search">
			<input type="submit" name="">
		</form>
	</body>
	</html>